@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

body {
  margin:0;
  font-family:Arial;
  background:#f1f6fa url('page.png') fixed;
}
h1, h2, h3, h4 {
  color: #990134;
}
.topnav {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  background-color: #FFF;
  align-content: center;
  z-index: 1;
}
.footer {
  width: 100%;
  height: 60px;
  background-color: #f9f9f9;
  align-content: center;
}
.footerRoom {
  width: 100%;
  height: 60px;
  background-color: #f9f9f9;
  align-content: center;
}

.logo {
  width: 20%;
  height: 70px;
  position: relative;
  display: block;
  float: left;
  background: #FFF;
}
.logo img {
  position: absolute;
  top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
  margin: auto;
  display: block;
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
}

.topnav a {
  float: left;
  display: block;
  min-width: 15%;
  line-height: 80px;
  color: #000;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}

.topnav .active {
  background-color: #990134;
  color: #FFF;
  pointer-events: none;
  font-weight: bold;
}
.topnav .active:hover {
  background-color: #555;
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  width: 15%;
  overflow: hidden;
}

.dropdown .dropbtn {
  display: block;
  width: 100%;
  font-size: 17px;
  line-height: 80px;
  border: none;
  outline: none;
  color: #000;
  font-weight: bold;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.dropdown .dropbtnActive {
  display: block;
  width: 100%;
  font-size: 17px;
  font-weight: bold;
  line-height: 80px;
  border: none;
  outline: none;
  color: #FFF;
  background-color: #990134;
  font-family: inherit;
  margin: 0;
}

.dropdown-content,
.outreachdropdown-content {
  display: none;
  background-color: #FFF;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a,
.outreachdropdown-content a {
  width: inherit;
  float: none;
  color: black;
  padding: 2px 5px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover,
.dropdown:hover .dropbtnActive,
.dropdown:hover .dropbtn,
.dropdown-content a:hover {
  background-color: #ddd;
  color: #000;
}
.dropdown .dropdown-content.responsive,
 .dropdown .outreachdropdown-content.responsive {
  position: relative;
  display: block;
}


@media screen and (max-width: 760px) {
  .topnav {
    width: 100%;
  }
  .topnav .logo{
      width: 20%;
      height: 70px;
      padding: 5px;
      overflow: hidden;
      display: inline-block;
      vertical-align: middle;
      float: left;
    }
  .topnav a, .dropdown .dropbtn,
  .dropdown .dropbtnActive  {
    display: none;
  }
  .topnav a.icon {
    height: 80px;
    padding: none;
    width: 75%;
    float: right;
    display: block;
  }
  .topnav.responsive {
    position: fixed;
    width: 100%;
  }
  .topnav.responsive .icon {
    text-align: center;
  }
  .topnav {
      height: auto;
      overflow: hidden;
  }
}

.topnav.responsive a,
.topnav.responsive .dropdown .dropbtn,
.topnav.responsive .dropdown .dropbtnActive {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
    background-color: #FFF;
    color: #000;
  }

.topnav.responsive .dropdown {
    float: none;
    width: 100%;
    background-color: inherit;
}
.topnav.responsive .dropdown-content {
  position: auto;
}
.topnav.responsive .dropdown-content a,
.topnav.responsive .outreachdropdown-content a {
  line-height: 40px;
}
.topnav.responsive .dropdown .dropbtn {
  display: block;
  width: 100%;
  text-align: left;
}
.main {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 62px;
  padding: 5px 10px;
  background: #f1f6fa;
  box-shadow:0px 0px 60px #d9d9d9;
  z-index: -1;
}
#myCarousel{
  display: block;
  width: 100%;
  padding-bottom: 20px;
  position:relative;
}
.carousel-inner, .item{
  height: 30vh;
  margin:auto;
}
.item img{
  max-height: 30vh !important;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

h1 {
  font-family: 'Acme', sans-serif;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}

.main .address {
  font-weight: bold;
  text-align: left;
}
.main .contact a {
  text-decoration: none;
  color: #000;
}
.main table {
  width: 100%;
  padding: auto;
}
.main table td{
  padding: auto;
}
.main td:first-child {
  font-weight: bold
}
.fa-map:hover {
    color: green;
}
.churchStewards td {
  padding: 5px;
}
.main a {
  color: #990134;
  text-decoration: none;
  font-weight: bold;
}
.main .group{
  text-align: center;
}

.room {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  margin-top: 82px;
  margin-bottom: 62px;
  background: #f1f6fa;
  box-shadow:0px 0px 60px #d9d9d9;
}
.roomImage {
  display: block;
  width: 100%;
}
.Image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width:100%;
  max-height:300px;
  width: auto;
  height: auto;
}

.familyworker div, .familyworker img{
  display: inline-block;
}
.familyworker img{
  height: 200px;
}

.roomDescription {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  width: 100%;
  max-width: 1000px;
}
.descirpt {
  grid-column: 1;
}
.roomtable {
  grid-column: 2;
  display: block;
  width: 50%;
  margin: auto;
}
.roomtable table{
  text-align: left;
}
#FW{
  display: block;
  width: 100%;
  border: thick solid #990134;
  border-radius: 30px;
}
.mapFrame {
  display: block;
  width: 100%;
}
iframe {
  display: block;
  margin: auto;
  width: auto;
}


@media screen and (max-width: 600px) {
  .roomDescription {
    display: block;
  }
  .carousel-inner, .item{
    height: 20vh;
    margin:auto;
  }
  .item img{
    max-height: 20vh !important;
  }
}
